html {
    scroll-behavior: smooth;
}
body {
    font-family: $font;
    -webkit-font-smoothing: antialiased;
    color: $black;
    background: $bg;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style-type: none;
    }
}

a {
    color: $black;
    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $main;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: lighten($main, 10);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($main, 10);
}