.login {
    background: #fafafa;

    &__forgot {
        font-weight: 500;
        font-size: 12px;
        text-decoration: underline;
    }

    &__password-input {
        position: relative;

        a {
            position: absolute;
            right: 10px;
            top: 6px;

            &:last-of-type {
                display: none;

                img {
                    width: 20px;
                }
            }
        }

        &.showable {
            a {
                display: none;

                &:last-of-type {
                    display: block;
                }
            }
        }
    }

    .s-btn {
        img {
            margin-right: 10px;
        }
        &.facebook {
            background: #2b497d;
            color: white;
            display: flex;
            align-items: center;
            padding: 8px 16px;
        }

        &.google {
            background: #4788f2;
            color: white;
            display: flex;
            align-items: center;
            padding: 8px 16px;
        }
    }
    .s-tabs {
        &__head {
            box-shadow: 0px 0px 4px 0px rgb(216, 216, 216);
        }
        &__content {
            box-shadow: 0px 0px 4px 0px rgb(216, 216, 216);
        }
    }
}
