.search-result {
    &__filter-item {
        background: #ffffff;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 2px 2px rgba(108, 108, 108, 0.1);
        border-radius: 4px;
        margin-bottom: 18px;

        & > a {
            padding: 12px 16px;
            color: $s-color;
            width: 100%;
            position: relative;

            &::after {
                content: url("../../../img/icons/down.svg");
                position: absolute;
                right: 16px;
            }
        }

        ul {
            display: none;
        }

        & > a {
            box-shadow: 0px 2px 2px rgba(108, 108, 108, 0.1);
        }

        ul {
            padding: 12px 16px;

            li {
                margin-bottom: 10px;

                a {
                    transition: all 0.2s;

                    &:hover {
                        color: $p-color;
                    }

                    &.active {
                        pointer-events: none;
                        color: $p-color;
                    }
                }
            }
        }
    }

    &__filter {
        display: flex;
        justify-content: space-between;

        & > ul {
            display: flex;

            & > li {
                margin-right: 10px;

                & > a {
                    padding-right: 35px;
                }

                ul {
                    left: 0;
                }
            }
        }

        .search-result__filter-item {
            position: relative;

            & > a {
                padding-right: 35px;
            }

            ul {
                position: absolute;
                z-index: 10;
                top: 55px;
                background: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.05);
                box-shadow: 0px 2px 2px rgba(108, 108, 108, 0.1);
                border-radius: 4px;
                width: max-content;

                li {
                    margin-bottom: 5px;

                    a {
                        font-size: 12px;
                    }
                }
            }
        }
        & > div ul {
            right: 0;
        }
    }

    &__card {
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 2px 2px rgba(108, 108, 108, 0.1);
        border-radius: 4px;
        color: #000;
        margin-bottom: 30px;
        position: relative;
        overflow: hidden;
    }

    &__card-img {
        position: relative;

        & > img {
            height: 220px;
            object-fit: cover;
            width: 100%;
        }
    }

    &__like {
        position: absolute;
        top: 10px;
        right: 10px;

        a {
            width: 32px;
            height: 32px;
            background: white;
            border-radius: 4px;
            text-align: center;
            line-height: 32px;

            &:last-of-type {
                display: none;
            }
        }

        &.liked {
            a {
                display: none;

                &:last-of-type {
                    display: block;
                }
            }
        }
    }

    &__name {
        text-align: center;
        background: $p-color;
        padding: 5px 5px;

        span {
            font-size: 12px;
        }
    }

    &__card-body {
        padding: 15px 20px;
        background: white;
        p {
            font-weight: 500;
            font-size: 12px;
            margin-bottom: 0;
        }

        .stars {
            display: flex;
            align-items: center;

            ul {
                display: flex;

                li {
                    margin-right: 4px;
                }
            }

            span {
                font-weight: 500;
                font-size: 8px;
                color: #949494;
                margin-top: 2px;
            }
        }

        .price {
            span {
                font-weight: bold;
                font-size: 12px;
                color: $red;
            }

            small {
                font-weight: bold;
                font-size: 8px;
                text-decoration: line-through;
            }
        }
    }
    &__has-sale {
        position: absolute;
        left: -36%;
        top: 1%;
        z-index: 1;
        background: $red;
        color: white;
        width: 100%;
        text-align: center;
        transform: rotateZ(-45deg);
        padding: 5px;
    }
}
