.form-group {
    label {
        font-weight: 500;
        font-size: 16px;
        color: #000;
    }

    .form-control {
        border: 1px solid #F4F4F4;
        box-shadow: none;
    }
}


.s-check {
    input {
        display: none;
    }

    label {
        margin: auto;
        user-select: none;
        cursor: pointer;

        span {
            display: inline-block;
            vertical-align: middle;
            transform: translate3d(0, 0, 0);
            font-size: 12px;

            &:first-child {
                position: relative;
                width: 16px;
                height: 16px;
                transform: scale(1);
                vertical-align: middle;
                transition: all 0.2s ease;

                border: 0.25px solid rgba(0, 0, 0, 0.05);
                box-shadow: 0px 2px 2px rgba(108, 108, 108, 0.1);
                border-radius: 4px;

                &:before {
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $p-color;
                    display: block;
                    transform: scale(0);
                    opacity: 1;
                    border-radius: 50%;
                }
            }

            &:last-child {
                padding-left: 8px;
            }
        }
    }

    input:checked+label {
        span {
            &:first-child {
                background: $p-color;
                animation: wave 0.4s ease;

                svg {
                    stroke-dashoffset: 0;
                }

                &:before {
                    transform: scale(3.5);
                    opacity: 0;
                    transition: all 0.6s ease;
                }
            }
        }
    }

    input[disabled] {
        &+label {
            span {
                color: #a2a2a2;

                &:first-child {
                    background: #a2a2a2;
                    border-color: #a2a2a2;
                }
            }
        }
    }

    @keyframes wave {
        50% {
            transform: scale(0.9);
        }
    }
}

.s-radio {
    label span:first-child {
        border-radius: 100%;
        position: relative;
    }
}